header h1 {

        color: aqua;
}
nav ul li {

     float: left;
     list-style-type: none;


}
nav ul {padding: 0;}

nav ul li a {

    display: block;
    padding: .5rem 1rem;
    background-color: brown;

}
main h1{
    clear: both;
}
main img{
float: right;
size: 20%;
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 150px;

}

footer{
text-align: center;
clear: both;

}